@font-face {

    font-family: Pixels;
    src: url("fonts/pixels.ttf")
    
}

@font-face {

    font-family: clasica;
    src: url("fonts/Quicksand-VariableFont_wght.ttf")
    
}

@font-face {

    font-family: Pacman;
    src: url("fonts/Pac\ man.otf")
    
}

*
{
    margin:0;
    padding: 0;
    font-family: clasica;
}


body
{
    color: rgb(250, 245, 245);
    font-family: clasica;
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(rgb(11, 0, 75), rgb(2, 2, 2))
}


header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: spaace-between;
    align-items: center;

}

header ul 
{
    display: flex;
    justify-content:center;
    align-items:center;
}

header ul li 
{
    list-style: none;
    margin-left: 30px
}

header ul li a
{
    text-decoration: none;
    padding: 6px 20px;
    color: white;
    border-radius: 20px;
}

header ul li a:hover
{
    background: white;
    color: black;
    font-family: Pixels;
}



h1 
{
    font-family: Pixels;
    font-size: 2rem;
    margin-right: 500px;
}

.comprar {
    margin-top: 200px;
    margin-left: 500px;
    text-align: center;
    font-family: Pacman;
    font-size: 4rem;
    color: rgb(248, 223, 29);
}

.producto {
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 100px;


}
.imagen {
    display: flex;
    height: 500px;
    width: 300px;
    float: left;
    margin-left: 50px;
    margin-bottom: 100px;
}

.info {
    float: right;
    padding: 15px;
    text-align: center;
    margin-bottom: 200px;
    margin-right: 100px;
}


.button {
    border: 1px solid rgb(214, 189, 63);
    color: rgb(214, 189, 63);
    text-decoration: none;
    border-radius: 10px;
    font-size: 15px;
    padding: 8px;
    font-family: Pixels;
    float: right;
    margin-top: 400px;
    margin-right: -230px;
    font-size: 15px;

}

.venta {
    font-size: 3rem;
    margin-bottom: 50px;
    margin-top: 150px;
    font-family: Pacman;
}

.precio {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 30px;
}


